@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Gothic+A1&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@300&display=swap");



.logout{
    position: absolute;
    width: 49px;
    height: 18px;
    left: 1083px;
    top: 24px;
    opacity: 0.7;
    filter: alpha(opacity=40);
    font-family: 'Noto Sans KR', sans-serif;
    color: #FFFFFF;
}
.esclogo{
    position: absolute;
    width: 205px;
    height: 23px;
    left: 150px;
    top: 27px;
    opacity: 0.7;
    filter: alpha(opacity=40);

}

.box{
    position: absolute;
    width: 882px;
    height: 510px;
    left: 198px;
    top: 80px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.record{
    position: relative;
    width: 82px;
    height: 34px;
    left: 45%;
    top: 90%;
    
    background: #FF7246;
    border-radius: 30px;
    border: none;
    outline: none;
    color:#ffffff;
    cursor:pointer;
}