@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Gothic+A1&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@300&display=swap");


.exerciseBody{

    background-size: 100vh;
    
    background-color: #FF8762;
    
}

.logout{
    position: absolute;
    width: 49px;
    height: 18px;
    left: 1083px;
    top: 24px;
    opacity: 0.7;
    filter: alpha(opacity=40);
    font-family: 'Noto Sans KR', sans-serif;
    color: #FFFFFF;
}
.esclogo{
    position: absolute;
    width: 205px;
    height: 23px;
    left: 150px;
    top: 27px;
    opacity: 0.7;
    filter: alpha(opacity=40);

}

.GroupList{
    position: absolute;
    width: 534px;
    height: 510px;
    left: 373px;
    top: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 7px 8px rgba(145, 135, 135, 0.25);
    border-radius: 8px;

    padding-bottom: 20px;
    }
.GroupList::-webkit-scrollbar {
    width: 20px;
}

.GroupList::-webkit-scrollbar-thumb {
    background-color: #FA9475;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
    height: 30%;
}

.GroupList::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.select{
    position: absolute;
    width: 80px;
    height: 65px;
    left: 230px;
    top: 40px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    
    color: #FF7246;
    cursor: default;

}

.Groupbox {
    position: relative;
    width: 412px;
    height: 89px;
    left: 60px;
    top: 100px;
    
    background: #FF855E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

    text-decoration: none;
}
.Groupbox:hover {
    opacity: .8;
    /* background-color:rgb(255, 79, 26);
    text-decoration-line: none; */
}
.exrPgGroupName{
    position: relative;
    width: 154px;
    height: 27.16px;
    left: 30px;
    top: 20px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    
    color: #FFFFFF;

}

.VideoName{
    position: absolute;
    width: 154px;
    height: 27.16px;
    left: 300px;
    top: 20px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: rgba(255, 255, 255, 0.76);

}

.tag{
    position: absolute;
    width: 100px;
    height: 27.16px;
    left: 30px;
    top: 55px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;

}

.rate{
    position: absolute;
    width: 66px;
    height: 27.16px;
    left: 220px;
    top: 55px;
    
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;

}

.interest{
    position: absolute;
    width: 66px;
    height: 27.16px;
    left: 743px;
    top: 253.84px;
    
    font-family: 'SUIT Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
    }